@use 'base/mixins' as m;
@use 'base/variables' as v;

.agenda {
    padding: 5rem 0;
    @include m.contenedor;
}
.eventos {
    $modificador: &;

    &__heading {
        color: v.$azul;
        margin: 5rem 0;
        text-align: left;
        font-size: clamp(2rem, -0.8rem + 8vw,  6rem);
    }

    &__fecha {
        color: v.$gris;
        margin: 3rem 0 1rem 0;
    }

    &--workshops {

        #{$modificador}__heading {
            color: v.$secundario;
        }

        .evento__informacion {
            background-color: v.$secundario;
            &:hover {
                background-color: darken(v.$secundario, 10%);
            }
        }
    }

    .swiper-button-next, 
    .swiper-button-prev {
        color: rgba(v.$blanco, .5);
    }
}

.evento {
    &__hora {
        font-weight: v.$bold;
    }
    &__informacion {
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: 300ms background-color ease;
        // min-height: 150px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        &:hover {
            background-color: darken(v.$azul, 10%);
        }
    }


    &__nombre {
        font-size: 2rem;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__introduccion {
        font-size: 1.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__autor-info {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    &__imagen-autor {
        width: 5rem;
        background-color: v.$blanco;
        border-radius: 50%;
    }
    &__autor-nombre {
        font-weight: v.$bold;
    }

    &__agregar {
        @include m.boton(v.$blanco, v.$negro);
        margin-top: 1rem;

        &:disabled {
            opacity: .5;
            cursor: not-allowed;
        }
    }
}